/* ModelDetail.css */

.model-detail {
    display: flex;
    max-width: 800px;
    margin: auto;
}

.model-photo {
    flex: 1;
    padding: 40px;
}

.model-photo img {
    max-width: 100%;
    border-radius: 5px;
    height: auto;
}

.model-info {
    flex: 2;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    .model-detail {
        flex-direction: column;
    }

    .model-photo,
    .model-info {
        flex: none;
        width: 100%;
    }
}
.button-group {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.action-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-button:hover {
    background-color: #0056b3;
}
