body{
    margin:0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header{
    background-color: #333;
    color: white;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin-right: 20px;
    cursor: pointer;
}

.hero img{
    width: 100%;
}

.text-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.model-features{
display: flex;
justify-content: space-around;
margin: 20px;
}

.model-info{
text-align: center;
}

.model-info h3{
margin-bottom: 10px;
}

.model-info button {
    background-color: #ff9900;
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.model-info button:hover {
    background-color: #ffa733; /* Change color on hover if desired */
}

.model-info img{
max-width: 100%;
height: 100%;
}

.interactive-features,
.cta-section,
footer{
margin-top: 20px;
}

.cta-section{
background-color: white;
color: black;
padding: 20px;
text-align: center;
margin-top: 20px;
}

.cta-section button{
background-color: #ff9900;
color: black;
padding: 10px 20px;
font-size: 16px;
border: none;
cursor: pointer;
margin-top: 10px;
}

.cta-section form{
margin-top: 20px;
}

footer{
background-color: #333;
color: white;
padding: 10px 20px;
text-align: center;
}